#conductor-ui-toolbar #toolbar-buttons {
  float:right;
  position: relative;
  right: 0;
}

#conductor-workflow-editor {
  margin-top: 1em;
  width: 100%;
}

.conductor-ui-activity {
  width: 300px;
  border: 2px solid #ccc;
  padding: 1em;
  -moz-border-radius: 15px;
  border-radius: 15px;
  position: relative;
  background: white;
}

#conductor-workflow-editor .ctools-dropbutton {
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: white;
}

#conductor-workflow-editor .conductor-drop-link {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

